@font-face {
    font-family: "Shabnam";
    font-style: normal;
    font-weight: normal;
    src:
        local("Iranian Sans Regular"),
        url("../fonts/Shabnam.woff") format("woff");
}

@font-face {
    font-family: "Shabnam Bold";
    font-style: normal;
    font-weight: normal;
    src:
        local("Iranian Sans Bold"),
        url("../fonts/Shabnam-Bold.woff") format("woff");
}
