html {
    direction: rtl;
    body {
        a {
            font-family: "Shabnam";
        }
    }
    .react-toast-notifications__container {
        font-family: "Shabnam";
    }
}

@import "./fonts.scss";
@import "~bootstrap/scss/bootstrap.scss";
